/* Reset CSS website */
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.app {
  overflow: hidden;
}
.header {
  height: var(--header-height);
  background-image: linear-gradient(0,#fe6232,#f6412e);
}

.header__navbar{
  display: flex;
  justify-content: space-between;
}

.header__navbar-item--separate::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  border-right: 2px solid hsla(0,0%,100%,.22);
  transform: translateY(-50%);
  height: 16px;
  line-height: 16px;
  margin-right: -11px;
}

ul.header__navbar-list > li > a:hover  {
  color: hsla(0,0%,100%,.7);
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.header__navbar-user {
  position: relative;
}

.header__navbar-user::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  top: 100%;
  left: 0;
  
}

.header__navbar-user:hover .header__navbar-user-menu{
  display: block;
}

.header__navbar-user-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ee4d2d;
}

span.header__navbar-user-name {
  margin-left: 3px;
  font-size: 1.3rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  position: absolute;
  padding-left: 0;
  background-color: var(--white-color);
  list-style: none;
  top: calc(100% + 6px);
  right: 0;
  width: 160px;
  border-radius: 2px;
  z-index: 10;
  box-shadow: 0px 0px 35px 25px rgba(0, 0, 0, 0.03);
  border: 0.5px solid #eeeeee;
  border-top: none;
  display: none;
  animation: notifyGrowth ease-in .25s;
  will-change: opacity, transform;
  transform-origin: calc(100% - 45px) 0%;
  /* transform-origin: top right; */
}

.header__navbar-user-menu::before {
  content: "";
  position: absolute;
  border-width: 10px 14px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -20px;
  right: 20px;
}

ul.header__navbar-user-menu li.header__navbar-user-item:last-child a{
  color: #02b098;
}
a.header__navbar-user-item--link {
  padding: 7px 0 7px 15px;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-item:hover {
  background-color: rgba(153, 153, 153, 0.1);
}

i.header__navbar-icon {
  font-size: 1.6rem;
}

.header__navbar-item,
.header__navbar-item-link {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
}

.header__navbar-icon {
  margin: 0 4px;
}

/* Header QR Code CSS */
.header__qr-code {
  background-color: var(--white-color);
  width: 185px;  
  position: absolute;
  display: none;
  top: 160%;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  animation: fadeIn ease-in .3s;
  z-index: 1001;
}

.header__qr-code::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  top: -8px;
  left: 0;
}

.header__navbar-has-qr-code:hover .header__qr-code {
  display: block;
}

.header__qr-code-img {
  width: 100%;
}

.header__qr-code-apps {
  display: flex;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
}

.dowload-google-play {
  height: 16px;
}

.dowload-app-store {
  height: 16px;
}

/* Header Notify */

.header__notify {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid #d3d3d3;
  display: none;
  border-radius: 2px;
  user-select: none;
  animation: notifyGrowth ease-in .25s;
  will-change: opacity, transform;
  transform-origin: calc(100% - 45px) 0%;
  /* transform-origin: top right; */
  box-shadow: 0px 0px 35px 25px rgba(0, 0, 0, 0.03);
  z-index: 1001;
}

.header__notify::before {
  content: "";
  border-width: 10px 14px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 20px;
  top: -20px;
}

.header__notify::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  width: 90px;
  height: 15px;
}

.header__notify-header {
  color: var(--white-color);
  height: 40px;
}

.header__notify-header h3 {
    margin: 0;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    padding-left: 12px;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;  
}

.header__notify-item--viewed {
  background-color: rgb(238, 77, 45, 0.1);
}

li.header__notify-item:hover {
  background-color: rgba(153, 153, 153, 0.1);
}

a.header__notify-link {
  display: flex;
  text-decoration: none;
  padding: 5px 0 12px 12px;
  width: 100%;
}

li.header__navbar-item:hover > a.header__navbar-item-link + .header__notify {
  display: block;
}

.header__notify-img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-title {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #756F6E;
  line-height: 1.6rem;
  margin-top: 5px;
}

.notify-footer {
  background-color: rgba(153, 153, 153, 0.04);
}

.notify-footer__btn {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 400;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  display: block;
}

.notify-footer__btn:hover {
  background-color: rgba(153, 153, 153, 0.1);
}


/* Register Form */

.auth-form {
  background-color: var(--white-color);
  border-radius: 5px;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.auth-form__heading {
  margin: 0;
  font-size: 2.2rem;
  font-weight: normal;
  color: var(--text-color);
}

.auth-form__switch-btn {
  margin: 0;
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: normal;
}

.auth-form__form {
  width: 440px;
}

.auth-form__group {
  margin: 15px 0;
}

.auth-form__group input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid #999;
  outline: none;
  border-radius: 1px;
}

.auth-form__group input:focus {
  border: 1px solid var(--text-color);
}

.auth-form__verify {
  display: flex;
}

.auth-form__verify img {
  border: 1px solid #999;
  border-left: none;
  height: 40px;
}

.auth-form__code {
  display: flex;
}

.auth-form__code button {
  width: 160px;
  border: 1px solid #999;
  border-left: none;
  font-size: 1.4rem;
}

.auth-form__aside {
  font-size: 1.2rem;
  margin-bottom: 100px;
}

.auth-form__aside p {
  margin: 0;
  line-height: 1.6rem;
  text-align: center;
  padding: 3px 15px;
}
.auth-form__aside p a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0;
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.auth-form__controls button:first-child {
  margin-right: 8px;
}

.auth-form__controls button:first-child:hover {
  background-color: #f8f8f8;
}

.auth-form__socials {
  padding: 0 32px;
  height: 60px;
  background-color: #f5f5f5;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

a.btn--with-icon {
  width: 49%;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--text-color);
  line-height: 1.2rem;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

a.btn--with-icon:last-child {
  margin-right: 0;
}

.auth-form__socials a.btn--with-icon--facebook {
  background-color: #3a5998;
  color: var(--white-color);
}

.auth-form__socials a:last-child {
  background-color:var(--white-color);
}

.btn--with-icon > i {
  font-size: 1.8rem;
  padding-right: 40px;
}
.btn--with-icon > span {
  text-align: center !important;
}

/* Login Form */

.auth-form__aside {
  margin-top: 25px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
}

.auth-form__help-primary {
  color: var(--primary-color);
}

.auth-form__help-separate {
  display: block;
  border-left: 1px solid var(--border-color);
  height: 22px;
  margin: 2px 16px 0;
}

.btn--with-icon .btn--with-icon--social {
  padding-right: 30px;
}

.btn--with-icon--sms {
  background-color: #11b50c;
  color: var(--white-color) !important;
  height: 32px;
}

.btn--with-icon--facebook {
  height: 32px;
}

.btn--with-icon--google {
  height: 32px;
}

.title-social {
  font-size: 1.4rem;
}

/* Header with search */

.header-with-search { 
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 3px;
}
.header-icon__checkbox {
  display: flex;
  margin-left: 5px;
}
.header__mobile-search-icon {
  font-size: 1.8rem;
  color: var(--white-color);
  padding: 0 15px;
  display: none;
}
.header__search-checkbox:checked ~ .header__search {
  display: flex;
}

.header__logo {
  width: 200px;
}
.header__logo-link {
  text-decoration: none;
  color: transparent;
  display: block;
  line-height: 0;
}
.header__logo-img {
  width: 150px;
}

.header__search {
  height: 40px;
  flex: 1;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 0 16px;
  color: var(--text-color);
  font-size: 1.4rem;
}

.header__search-select {
  border-left: 1.5px solid #ccc;
  padding-left: 16px;
  cursor: pointer;
  position: relative;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 0 9px 0 15px;
  position: relative;
  top: 2px;
}

.header__search-btn {
  border: none;
  background-color: var(--primary-color);
  height: 34px;
  width: 60px;
  border-radius: 3px;
  outline: none;
  margin-right: 3px;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  box-shadow: 0 0 3px #ccc;
  padding-left: 0;
  border-radius: 3px;
  overflow: hidden;
  display: none;
  z-index: 1000;
}

.header__search-select:hover ul.header__search-option{
  display: block;
}

.header__search-select::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px;
  list-style: none;
  width: 150px;
}

.header__search-option-item:hover {
  background-color: #f8f8f8;
}

.header__search-option-item a {
  text-decoration: none;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 0 0 20px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}
/* Search History */

.header__search-history {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 4px #bdbdbd;
  width: calc(100% - 16px);
  display: none;
  overflow: hidden;
  z-index: 1000;
}

.header__search-history-heading {
  margin: 8px 15px;
  font-size: 1.3rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
  line-height: 38px;
}

.header__search-history-item:hover {
  background-color: #f8f8f8;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
  display: block;
}

/* Cart */

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  display: inline-block;
  position: relative;
  padding: 0 15px;
}

.header__cart-icon::after {
  content: "";
  position: absolute;
  top: calc(100% - 10px);
  right: -13px;
  height: 20px;
  width: 90px;
  display: block;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}
/* .header__cart-checkbox:checked ~ .header__cart-list {
  display: block;
} */

.header__cart-icon {
  font-size: 2rem;
  color: var(--white-color);
  margin-top: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header__cart-notice {
  position: absolute;
  padding: 1px 7px;
  top: 7px;
  left: 27px;
  border-radius: 10px;
  font-size: 1.3rem;
  line-height: 1.4rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid #ee4d2d;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  text-align: right;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  will-change: opacity, transform;
  animation: notifyGrowth ease-in .25s;
  transform-origin: calc(100% - 20px) 0%;
  display: none;
  border: 0.5px solid #eeeeee;
  z-index: 1000;
}

.header__cart-list::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 8px;
  border-style: solid;
  border-width: 10px 14px;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}
.header__cart-list--no-cart {
  padding: 20px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img, .header__cart-list--no-cart .header__cart-list-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header__cart-no-cart-img {
  width: 50%;
  padding: 20px 0;
  display: none;
}

.header__cart-list-no-cart-msg {
  font-size: 1.4rem;
  color: var(--text-color);
  display: none;
}

/* Hot Words */
.hot-words {
  position: relative;
}

.hot-words__list {
  position: absolute;
  top: -22px;
  left: 203px;
}

.hot-words__item {
  text-decoration: none;
  color: hsla(0,0%,100%,.9);
  font-size: 1.2rem;
  margin-right: 10px;
}

/* Has product */
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 60vh;
  overflow-y: auto;
}

.header__cart-list.header__cart-list-has-cart .header__cart-list-item {
  display: block;
}

.header__cart-item {
  display: flex;
  padding: 12px;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #ccc;
}

.cart-item__img {
  max-width: 60px;
  max-height: 60px;
  padding-right: 12px;
  object-fit: contain;
}

.cart-item__info {
  width: 100%;
}

.cart-item__info-first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-top: -6px;
}

.cart-item__info-title {
  width: 190px;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

p span.cart-item__info-price {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 400;
}

p span.cart-item__info-multiply {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
}

p span.cart-item__info-quantity {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.cart-item__info-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-bottom: -7px;
}

.cart-item__info-classify {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.cart-item__btn-delete {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 0;
}
.cart-item__btn-delete:hover {
  color: var(--primary-color);
}

.header__cart-list .btn-primary {
  margin: 12px 12px 12px 0;
}

.header__cart-list .btn-primary:hover {
  background-color: #f05d40;
}

/* Header sort bar */
.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  right: 0;
  left: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}
.header__sort-bar-item {
  flex: 1;
  position: relative;
}
.header__sort-bar-link {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  font-size: 1.4rem;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}
.header__sort-bar-item--active .header__sort-bar-link {
  color: var(--primary-color);
}
.header__sort-bar-item--active::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--primary-color);

}
.header__sort-bar-link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}
.header__sort-bar-item:first-child .header__sort-bar-link::before {
  display: none;
}
/* App Container */
.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 25px;
}

nav.category {
  border-radius: 2px;
  background-color: var(--white-color);
}

h3.category__heading {
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 17px 16px 0;
  margin: 0;
  text-transform: uppercase;
}

.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  list-style: none;
  padding-left: 0;
}

.category-item {
  position: relative;
}

.category-item::after {
  content: "";
  border-top: 1px solid #ccc;
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
}

.category-item:first-child::after {
  display: none;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  position: relative;
  right: 0;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 25px;
  display: block;
  transition: right linear .2s;
}

.category-item__link:hover {
  color: var(--primary-color);
  right: -10px;
}

/* Mobile Category */
.mobile-category {
  display: none;
}
.mobile-category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar {
  display: none;
}
.mobile-category__item {
  flex-shrink: 0;
  margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
  background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
  background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
  background-color: #88cf81;
}
.mobile-category__link {
  --line-height: 2.5rem;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: var(--line-height);
  text-align: center;
  width: 110px;
  height: calc(var(--line-height) * 2);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: block;
  border-radius: 4px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
}

/* Home sort - filter */

.home-filter {
  display: flex;
  background-color: #ededed;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label {
  color: var(--text-color);
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-number {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 76px;
  height: 36px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.home-filter__page-btn {
  flex: 1;
  display: inline-block;
  text-align: center;
  background-color: var(--white-color);
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #f2f2f2;
}

.home-filter__page-btn i {
  line-height: 36px;
  font-size: 1.4rem;
  color: #555;
}

.home-filter__page-btn--disable {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disable i {
  color: #ccc;
}

/* Product Item */

.product-item {
  position: relative;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  border-radius: 2px;
  margin-top: 10px;
  transition: transform linear .2s;
  will-change: transform;
}

.product-item__link {
  text-decoration: none;
}

.product-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.2);
}

.product-item__img {
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 10px 10px 4px;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item__price {
  display: flex;
  margin-left: 10px;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-item__price-old {
  font-size: 1.4rem;
  text-decoration: line-through;
  color: var(--text-color);
}

.product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 6px;
}

.product-item__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 10px 0 10px;
}

.product-item__like {
  font-size: 1.3rem;
}

.product-item__like--liked .product-item__like-icon-yes {
  display: inline-block;
}

.product-item__like--liked .product-item__like-icon-no {
  display: none;
}

.product-item__like-icon-yes {
  display: none;
  color: #f53d2f;;
}

.product-item__rating {
  font-size: 0.9rem;
  color: #ccc;
  margin: -1px 0 0 auto;
}

.product-item__rating-star--gold {
  color: var(--star-gold-color);
}

.product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 300;
}

.product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-right: 4px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.product-item__favourite::before {
  content: "";
  position: absolute;
  border-top: 4px solid currentColor;
  border-left: 4px solid transparent;
  top: 100%;
  left: 0;
  filter: brightness(60%);
}

.product-item__favourite span {
  color: var(--white-color);
}

.product-item__favourite i {
  font-size: 0.9rem;
  padding: 0 2px 0 4px;
  color: var(--white-color);
}

.product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  border-top-right-radius: 2px;
  background-color: rgba(255, 216, 64, 0.93);
}

.product-item__sale-off::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  border-style: solid;
  border-width: 0 20px 6px;
  border-color: transparent  rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
}

.product-item__sale-off-percent {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.3rem;
}

.product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3rem;
  position: relative;
  top: -9px;
}

/* Pagination */
.pagination__product {
  margin: 50px 0 100px;
  padding-left: 0;
}

/* Footer */
.footer {
  border-top: 4px solid var(--primary-color);
  background-color: #fbfbfb;
  padding-top: 50px;
}

.footer-top {
  padding-bottom: 30px;
}

.footer-heading {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 700;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list__item {
  line-height: 3rem;
}

.footer-list__item-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(0,0,0,.54);
  font-weight: 400;
}

.footer-list__item-link:hover {
  color: var(--primary-color);
}
.footer-list-icon {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
}
.footer-list__icon {
  background-image: url('./../img/logos-payment-transport.png');
  display: inline-block;
  background-size: 2000%;
  margin: 0 3px;
}
.footer-list__icon-visa {
  width: 55px;
  height: 29px;
  background-size: 1203.6363636363637% 634.4827586206897%;
  background-position: 65.7331136738056% 36.12903225806452%;
}

.footer-list__icon-mastercard {
  width: 55px;
  height: 29px;
  background-size: 1203.6363636363637% 634.4827586206897%;
  background-position: 53.37726523887974% 62.58064516129032%;
}

.footer-list__icon-jcb {
  width: 55px;
  height: 23px;
  background-size: 1203.6363636363637% 800%;
  background-position: 32.45469522240527% 60.24844720496895%;
}
.footer-list__icon-amex {
  width: 55px;
  height: 24px;
  background-size: 1324% 836.3636363636364%;
  background-position: 13.071895424836601% 6.172839506172839%;
}
.footer-list__icon-cod {
  width: 50px;
  height: 29px;
  background-size: 1324% 634.4827586206897%;
  background-position: 19.934640522875817% 65.16129032258064%;
}
.footer-list__icon-installment {
  width: 55px;
  height: 29px;
  background-size: 1203.6363636363637% 634.4827586206897%;
  background-position: 65.7331136738056% 67.74193548387096%;
}
.footer-list__icon-air-pay {
  width: 23px;
  height: 29px;
  background-size: 1655% 353.84615384615387%;
  background-position: 1.607717041800643% 7.575757575757576%;
}
.footer-list__icon-label {
  margin-left: 7px;
  display: inline-block;
}

.footer-list__icon-facebook {
  width: 17px;
  height: 17px;
  margin-bottom: -2px;
  margin-left: -3px;
  background-position: 11.11111111111111% 34.21052631578947%;
}

.footer-list__icon-instagram {
  width: 17px;
  height: 17px;
  margin-bottom: -2px;
  margin-left: -3px;
  background-position: 1.5873015873015872% 53.94736842105263%;
}

.footer-list__icon-linkedin {
  width: 17px;
  height: 17px;
  margin-bottom: -2px;
  margin-left: -3px;
  background-position: 43.17460317460318% 63.81578947368421%;
}

.footer-list__icon-registered-red {
  height: 46px;
  width: 122px;
  background-size: 551.6666666666666% 408.8888888888889%;
  background-position: 100% 7.194244604316546%;
}

.footer-list__icon-no-fake-item {
  width: 49px;
  height: 49px;
  background-size: 1379.1666666666667% 383.3333333333333%;
  background-position: 77.1986970684039% 33.8235294117647%;
}

.footer__download {
  display: flex;
  align-items: center;
}

.footer__download-apps {
  flex: 1;
  margin-left: 16px;
  justify-content: center;
  flex-direction: column;
}

.footer__download-qr-code {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
}

.footer__download-apps-img {
  height: 16px;
}

.footer__download-apps-link {
  text-decoration: none;
  color: transparent;
}

.footer-bottom {
  background-color: #f5f5f5;
  padding: 30px 0;
}

.footer__text {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  text-align: center;
}

.footer-bottom__certification {
  text-align: center;
}

.footer-bottom__certification i {
  margin: 0 21px;
}

/* Menu mobile */
.mobile-menu {
}
.mobile-menu__icon {
  font-size: 2.2rem;
  color: var(--white-color);
  display: none;
}
.mobile-menu__overlay {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 20;
  animation: fadeIn ease-in .2s;
}
.mobile-menu__list {
  position: relative;
  list-style: none;
  padding-left: 0;
  width: 35vh;
  height: 100vh;
  background-color: var(--white-color);
  display: none;
  z-index: 999;
  margin: 0;
  position: absolute;
  top: 100%;
  animation: horizontalPull linear .3s;
}
.mobile-menu__item {
  border-bottom: 1px solid #ccc;
}
.mobile-menu__item-icon {
  font-size: 1.6rem;
  margin-right: 7px;
}
.mobile-menu__link {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 15px 10px;
  display: block;
  color: var(--text-color);
}
.mobile-menu__checkbox-input:checked ~ .mobile-menu__list {
  display: block;
}
.mobile-menu__checkbox-input:checked ~ .mobile-menu__overlay {
  display: block;
}